
        <div class="card card-chart">
            <div class="card-header card-header-danger">
                <div class="ct-chart" id="dailySalesChartDespesa"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Despesas dos últimos <span class="text-success"> 7 </span> dias</h4>
                <p class="card-category">Informações apuradas de acordo com os dados do últimas despesas.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Atualizado recentemente
                </div>
            </div>
        </div>
 