<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-center">
            <small>
                © 2020 Abee Todos os direitos revervados.
            </small>
        </nav>
        <!-- <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div> -->
    </div>
</footer>
