    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Atualização de Cliente</h4>
                        <p class="card-category">Mantenhas as informações do Clientes atualizado</p>
                    </div>
                    <div class="card-body modal-content">
                        <form [formGroup]="FormularioAtualizarGroup">
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput formControlName="nome" placeholder="Nome:" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="documento" placeholder="CPF/CNPJ:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="telefone" placeholder="Telefone:" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="email" placeholder="E-mail:" type="email">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="razaoSocial" placeholder="Razão Social:" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="cep" (keyDown.Tab)="buscarPorCep($event.target.value)" placeholder="Cep:" type="text">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="rua" placeholder="Rua:" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="numero" placeholder="Número:" type="text">
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="bairro" placeholder="Bairro:" type="text">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="cidade" placeholder="Cidade:" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="estado" placeholder="Estado:" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="pais" placeholder="Pais:" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <button type="button" (click)="atualizarCliente()" data-dismiss="modal" class="btn btn-success pull-right">Atualizar</button>
                            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancelar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

  