<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success abee-card__header">
                        <div class="abee-card__header__content">
                          <h4 class="card-title ">Lista de Usuarios</h4>
                          <p class="card-category"> Gerencie seus usuários com as funções de cadstro edição e remoção </p>
                        </div>
                        <button class="btn btn-round abee-btn abee-btn--filtro" data-toggle="modal" data-target="#FiltroModal">
                            Filtros<i class="material-icons">filter_list</i>
                        </button>

                        <button routerLinkActive="active" class="btn btn-round abee-btn" routerLink="/criar-usuarios">
                          <i class="material-icons" style="font-size:23px">add</i>&nbsp;Novo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nome de usuario
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Perfil
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of usuariosResponse?.listaUsuario">
                                        <td>
                                            {{u.id}}
                                        </td>
                                        <td>
                                            {{u.nomeUsuario}}
                                        </td>
                                        <td>
                                            {{u.nome}}
                                        </td>
                                        <td>
                                            {{u.perfil}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" (click)="codigoAtual = u.id" 
                                          matTooltip="Editar" [matTooltipPosition]="'above'" 
                                          class="btn btn-primary btn-link btn-sm btn-just-icon"
                                          data-toggle="modal" 
                                          data-target="#confirmarAlteracaoRegistro">
                                              <i class="material-icons">edit</i>
                                          </button>
                                          <button mat-raised-button type="button" (click)="codigoAtual = u.id" matTooltip="Remover"  [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                                          data-toggle="modal" data-target="#confirmarRemocaoRegistro" >
                                              <i class="material-icons">close</i>
                                          </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="...">
                            <ul class="pagination">
                              <li class="page-item" (click)="paginaAnterior()">
                                <span class="page-link">Anterior</span>
                              </li>
                              <li class="page-item" [class.active]="paginaAtual == getPagina(1)" (click)="mudarPagina(getPagina(1))"><a class="page-link" >
                                {{ getPagina(1) }}
                              </a>                                
                              </li>
                              <li class="page-item" [class.active]="paginaAtual == getPagina(2)" (click)="mudarPagina(getPagina(2))">
                                <span class="page-link">
                                    {{ getPagina(2) }}
                                  <span class="sr-only">(current)</span>
                                </span>
                              </li>
                              <li class="page-item" (click)="mudarPagina(getPagina(3))"><a class="page-link" >{{ getPagina(3) }}</a></li>
                              <li class="page-item" (click)="proximaPagina()">
                                <a class="page-link" >Próxima</a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="confirmarRemocaoRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Deseja realmente apagar o registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="deleteUsuario()" data-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Abaixo é o modal de filtro:  -->

<div class="modal fade" id="FiltroModal" tabindex="-1" role="">
    <div class="modal-dialog">
      
        <div class="container-fluid">
            <div class="row">
                
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Filtros</h4>
                        <p class="card-category">Filtrar a lista de usuarios a partir dos campos abaixo:</p>
                    </div>

                    <div class="modal-content">
                        <form class="form" [formGroup]="filtrosGroup"> 
                        <div class="modal-body">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                    <input matInput class="form-control" formControlName="id" type="text" name="id" placeholder="ID Usuário">
                                    </mat-form-field>
                                    </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput class="form-control" formControlName="nome" type="text" name="Nome" placeholder="Nome do Usuário">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput class="form-control" formControlName="nomeUsuario" type="text" placeholder="Username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                    <input matInput class="form-control" formControlName="perfil" type="text" placeholder="Tipo do perfil">
                                    </mat-form-field>
                                </div>
                            </div>                            
                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button mat-raised-button type="submit" (click)="getUsuarios()" data-dismiss="modal" class="btn btn-success pull-right">Filtrar Busca</button>
                            <div class="clearfix"></div>
                        </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
      </div>

  </div>
  
  <div class="modal fade" id="confirmarAlteracaoRegistro" tabindex="-1" role="">
    <div class="modal-dialog modal-lg">
      <div class="col-md-12">
        <app-alter-usuarios [cdUsuarioParam]="codigoAtual" (respostaAtualizacao)="reciverFeedback($event)"></app-alter-usuarios>
      </div>
    </div>
  </div>