<!-- <button mat-raised-button type="submit" class="btn btn-success pull-right">Sair</button> -->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success abee-card__header">
            <h4 class="card-title">Caixa</h4>
            <!-- <p class="card-category">Complete your profile</p> -->

            <button routerLinkActive="active" class="btn btn-round abee-btn" routerLink="/dashboard"> 
              <i class="material-icons" style="font-size:23px">arrow_back</i>Sair
            </button>
          </div>
          <div class="card-body">
            <form [formGroup]="ProdutoFormGroup" class="abee-caixa__form">
              <diV class="abee-caixa__box">
                <div class="abee-caixa__itens abee-caixa__box__section">
                  <div class="abee-caixa__item">
                    <label>
                      Código de Barras
                    </label>
                      <input class="abee-caixa__input abee-border" id="codigobarras" formControlName="codigoBarras"
                      (keyUp.enter)="addProdutoCodigoBarras($event.target.value)">
                  </div>
                  <div class="abee-caixa__item">
                    <label>
                      Buscar Produto
                    </label>
                    <mat-form-field class="example-full-width">

                      <input type="text"
                      placeholder=""
                      aria-label="Number"
                      matInput
                      formControlName="listaProdutoControl"
                      [matAutocomplete]="idAutoProduto"
                      class="abee-caixa__input abee-border"
                      (keyUp.enter)="buscarProdutoCodigoProdutoEnter($event.target.value)"
                      (keyDown.Tab)="buscarProdutoCodigoProduto($event.target.value)">
                      <mat-autocomplete autoActiveFirstOption #idAutoProduto="matAutocomplete" >
                        <mat-option *ngFor="let opcProduto of opcoesProdutoFiltrado" [value]="opcProduto.cdProduto" style="LINE-HEIGHT: 17px;">
                          {{opcProduto.cdProduto}} - {{opcProduto.nome}}
                          <br><span style="font-size: 12px;">Código de Barras: {{opcProduto.cdBarras}}</span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    
                  </div>
                  <div class="abee-caixa__item">
                    <label>
                      Descrição do produto
                    </label>
                      <input class="abee-caixa__input abee-border" [value]="produtoSelecionado.nome" disabled>
                  </div>
                  <div class="abee-caixa__item">
                    <label>
                      Preço Unitario
                    </label>
                      <input class="abee-caixa__input abee-border" [value]="produtoSelecionado.valor"  disabled currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  </div>
                  <div class="abee-caixa__item">
                    <label>Quantidade</label>
                    <input class="abee-caixa__input abee-border"  id="quantidadeProduto"  placeholder="Email address" 
                    type="number" placeholder="" formControlName="quantidadeProduto" (keyUp.enter)="addProdutoSelecionado($event.target.value)">
                  </div>
                </div>
                <div class="abee-caixa__box__section">
                  <label>Nota</label>
                  <div class="abee-caixa__nota abee-barra-rolagem">
                    <div class="table-responsive">
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                  Cód
                              </th>
                              <th>
                                  Nome
                              </th>
                              <th>
                                  Valor
                              </th>
                              <th>
                                  Qtd
                              </th>
                              <th>
                                Total
                              </th>
                              <th></th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let pro of produtosPedidoSelecionados">
                                  <td>
                                    {{pro.cdProduto}}
                                  </td>  
                                  <td>
                                      {{pro.nome}}
                                  </td>
                                  <td>
                                      {{pro.valor | currency:"BRL"}}
                                  </td>
                                  <td>
                                      {{pro.quantidade}}
                                  </td>
                                  <td>
                                    {{pro.valor * pro.quantidade}}
                                  </td>
                                  
                                  <td>
                                      <button mat-raised-button type="button" (click)="removeProduto(pro)"  matTooltip="Remove"  [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                  </td>
                              </tr>
                              
                          </tbody>
                      </table>
                  </div>
                  </div>
                </div>
              </diV>
            </form>
            <div class="abee-caixa__row abee-caixa__row--second">
                <div class="abee-caixa__item">
                  <label>
                    FORMAS DE PAGAMENTO
                  </label>
                    <select class="abee-caixa__select abee-border"  [(ngModel)]="formaPagamento">
                      <option value="Dinheiro" selected>Dinheiro</option>
                      <option value="Débito">Débito</option>
                      <option value="Crédito">Crédito</option>
                    </select>
                </div>
                <div class="abee-caixa__item">
                  <label>
                    TOTAL BRUTO
                  </label>
                    <input class="abee-caixa__input abee-caixa__input--result" [ngModel]="totalBruto" disabled currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
                <div class="abee-caixa__item">
                  <label>
                    DESCONTO
                  </label>
                    <input class="abee-caixa__input abee-caixa__input--result abee-border"  [(ngModel)]="descontoTotal" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
                <div class="abee-caixa__item">
                  <label>
                    TOTAL LÍQUIDO
                  </label>
                    <input class="abee-caixa__input abee-caixa__input--result" [value]="totalBruto - descontoTotal" disabled currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>

                <div class="abee-caixa__item">
                  <label>
                    VALOR PAGO
                  </label>
                    <input class="abee-caixa__input abee-caixa__input--result abee-border" [(ngModel)]="valorPago" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
                <div class="abee-caixa__item">
                  <label>
                    TROCO
                  </label>
                    <input class="abee-caixa__input abee-caixa__input--result" [value]="valorPago-(totalBruto - descontoTotal) | number:'1.2-2'" disabled currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
            </div>

            <div class="abee-caixa__row abee-caixa__row--money">
              <div class="abee-caixa__item">
                <label>
                  Dinheiro recebido
                </label>
                  <input class="abee-caixa__input abee-caixa__input--money abee-border" matInput placeholder="" type="text">
              </div>
              <div class="abee-caixa__item">
                <label>
                  Troco
                </label>
                  <input class="abee-caixa__input abee-caixa__input--money abee-border" matInput placeholder="" type="text">
              </div>    
              <div class="abee-caixa__buttons">
                F2 - Nova Venda &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                F4 - Adicionar Novo Produto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                F7 - Finalizar Pedido &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                F8 - Cancelar Pedido
                <button mat-raised-button type="submit" class="btn btn-success pull-right" style="margin-left: 3em;" (click)="cadastrarPedido()">Confirmar</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="novaVenda()" >Cancelar</button>
              </div>
            </div>

            <div class="abee-caixa__buttons">
              F2 - Nova Venda
              F4 - Adicionar Novo Produto
              F7 - Finalizar Pedido
              F8 - Cancelar Pedido
              <button mat-raised-button type="submit" class="btn btn-success pull-right" style="margin-left: 3em;" (click)="cadastrarPedido()">Confirmar</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="novaVenda()" >Cancelar</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>