<div class="wrapper fadeInDown">
    <div id="formContent" style="box-shadow: 0 7px 19px 0 rgba(0,0,0,0.3);">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <div class="logo">
          <span class="simple-text">
              <div class="logo-img">
                  <img class="abee_logo" src="assets/img/abee_gestao.png"/>
              </div>
              aBee
          </span>
        </div>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" [(ngModel)]="usuario" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="password" [(ngModel)]="senha" id="password" class="fadeIn third" name="login" placeholder="senha">
        <input type="submit" (click)="fazerLogin()" class="fadeIn fourth" value="Log In" style="box-shadow: 0 5px 8px 0 rgba(95,186,233,0.4);">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <small>© 2020 Abee Todos os direitos revervados.</small>
      </div>
  
    </div>
  </div>

<!--
<div class="abee-box-login">
    <input class="abee-login__input" id="username" type="text" name="username" placeholder="Login">
    <input class="abee-login__input" id="password" type="text" name="password" placeholder="Senha">
    <button class="abee-login__button" type="submit">Login</button>
    <div class="abee-login__links">
        <a href="#">Criar conta</a>
        <a href="#">Esqueci a senha</a>
    </div>
</div>
-->