<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Atualização de Produtos</h4>
                    <p class="card-category">Mantenhas as informações do Produto atualizado</p>
                </div>
                <div class="card-body modal-content">
                    <form [formGroup]="FormularioAtualizarGroup">
                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName="nome" placeholder="Nome:" required>
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="descricao" placeholder="Descrição:">
                                </mat-form-field>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="cdBarras" placeholder="Código de barras:">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="quantidade" placeholder="Quantidade:" type="number">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="valor" placeholder="Valor:" type="number">
                              </mat-form-field>
                            </div>
                        </div>
                       
                        <button type="button" (click)="atualizarProduto()" data-dismiss="modal" class="btn btn-success pull-right">Atualizar</button>
                        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancelar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

