<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">informações do pedido</h4>
                    <p class="card-category">Você pode consultar as informações do pedido aqui</p>
                </div>
                <div class="card-body modal-content">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6"><p class="card-title">Nome do cliente: <strong>{{ pedidosResponse?.listaItens[0].clienteObjeto.nome }}</strong></p></div>
                      <div class="col-md-6"><p class="card-title">Data: <strong>{{ pedidosResponse?.listaItens[0].data | date:"dd/MM/yyyy"}}</strong></p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6"><p class="card-title">Email: <strong>{{ pedidosResponse?.listaItens[0].clienteObjeto.email }}</strong></p></div>
                      <div class="col-md-6"><p class="card-title">Forma de Pagamento: <strong>{{ pedidosResponse?.listaItens[0].pagamento }}</strong></p></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6"><p class="card-title">Número do Documento Cliente: <strong>{{ pedidosResponse?.listaItens[0].clienteObjeto.documento }}</strong></p></div>
                      <div class="col-md-6"><p class="card-title">Observações: <strong>{{ pedidosResponse?.listaItens[0].observacao }}</strong></p></div>
                    </div>
                    
                    
                  </div>
                  <div class="col-md-12">
                    <div class="card">                
                      <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Código do produto
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Qtd
                                </th>
                                <th>
                                  Total
                                </th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pro of pedidosResponse?.listaItens">
                                    <td>
                                      {{pro.codigo}}
                                    </td>  
                                    <td>
                                        {{pro.nome}}
                                    </td>
                                    <td>
                                        {{pro.valor | currency:"BRL"}}
                                    </td>
                                    <td>
                                        {{pro.quantidade}}
                                    </td>
                                    <td>
                                      {{pro.total | currency:"BRL"}}
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                        
                      </div>
                    </div>
                   </div>

                    <nav aria-label="...">
                      <ul class="pagination">
                        <li class="page-item" (click)="paginaAnterior()">
                          <span class="page-link">Anterior</span>
                        </li>
                        <li class="page-item" [class.active]="paginaAtual == getPagina(1)" (click)="mudarPagina(getPagina(1))"><a class="page-link" >
                          {{ getPagina(1) }}
                        </a>                                
                        </li>
                        <li class="page-item" [class.active]="paginaAtual == getPagina(2)" (click)="mudarPagina(getPagina(2))">
                          <span class="page-link">
                              {{ getPagina(2) }}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        <li class="page-item" (click)="mudarPagina(getPagina(3))"><a class="page-link" >{{ getPagina(3) }}</a></li>
                        <li class="page-item" (click)="proximaPagina()">
                          <a class="page-link" >Próxima</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                

                  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <div class="clearfix"></div>
                    
                      <button mat-raised-button type="submit" *ngIf="pedidosResponse?.listaItens[0].status == 'A'"
                      (click)="ConfirmarPedido()" class="btn btn-success pull-right" data-dismiss="modal">
                          <i class="material-icons" style="font-size:23px">done_outline</i>&nbsp;
                          Confirmar Pedido
                      </button>
                      <button mat-raised-button type="submit" *ngIf="pedidosResponse?.listaItens[0].status == 'C'"
                      (click)="ConfirmarPedido()" class="btn btn-success pull-right" data-dismiss="modal" disabled>
                          <i class="material-icons" style="font-size:23px">done_outline</i>&nbsp;
                          Pedido Confirmado
                      </button>
                      <div class="clearfix"></div>
                    </div>
                    
                  
                </div>
            </div>
        </div>
        
    </div>
</div>

