<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Atualização de Usuário</h4>
                    <p class="card-category">Mantenhas as informações do Usuário atualizadas</p>
                </div>
                <div class="card-body modal-content">
                    <form [formGroup]="FormularioAtualizarGroup">
                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName="nome" placeholder="Nome:" required>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input type="text"
                                         placeholder="Perfil  "
                                         aria-label="Number"
                                         matInput
                                         formControlName="perfil"
                                         [matAutocomplete]="usuarioPerfil">
                                  <mat-autocomplete autoActiveFirstOption #usuarioPerfil="matAutocomplete" >
                                    <mat-option  [value]="1" style="LINE-HEIGHT: 17px;">
                                      1 - Administrador
                                    </mat-option>
                                    <mat-option  [value]="2" style="LINE-HEIGHT: 17px;">
                                      2 - Comum 
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            
                        </div>
                
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="nomeUsuario" placeholder="Nome de usuário:">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="senha" placeholder="Insira a sua senha:" type="password">
                                </mat-form-field>
                              </div>
                        </div>
                       
                        <button type="button" (click)="atualizarUsuario()" data-dismiss="modal" class="btn btn-success pull-right">Atualizar</button>
                        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancelar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

