<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Cadastro Cliente</h4>
                        <p class="card-category">Crie um novo cliente preenchendo os campos</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="filtrosGroup">
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput formControlName="nome" placeholder="Nome:" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="documento" placeholder="CPF/CNPJ:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="telefone" placeholder="Telefone:" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="email" placeholder="E-mail:" type="email">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="razaoSocial" placeholder="Razão Social:" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="cep" (keyUp.enter)="buscarPorCep($event.target.value)" (keyDown.Tab)="buscarPorCep($event.target.value)" placeholder="Cep:" type="text">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="rua" placeholder="Rua:" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="numero" placeholder="Número:" type="text">
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="bairro" placeholder="Bairro:" type="text">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="cidade" placeholder="Cidade:" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="estado" placeholder="Estado:" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="pais" placeholder="Pais:" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="button" (click)="postClientes()" class="btn btn-success pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  