<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Cadastro de Usuários</h4>
                        <p class="card-category">Adicione um novo usuário preenchendo os campos</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="filtrosGroup">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput formControlName="nome" placeholder="Nome Completo:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="nomeUsuario" placeholder="Nome de Usuário:">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input type="text"
                                           placeholder="Perfil  "
                                           aria-label="Number"
                                           matInput
                                           formControlName="perfil"
                                           [matAutocomplete]="usuarioPerfil">
                                    <mat-autocomplete autoActiveFirstOption #usuarioPerfil="matAutocomplete" >
                                      <mat-option  [value]="1" style="LINE-HEIGHT: 17px;">
                                        1 - Administrador
                                      </mat-option>
                                      <mat-option  [value]="2" style="LINE-HEIGHT: 17px;">
                                        2 - Comum 
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div>

                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="senha" placeholder="Senha:" type="password">
                                  </mat-form-field>
                              </div>
                              

                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <span>Atenção: Anote a senha digitada, ela será utilizada para a realização do login.</span>
                              </div>
                            </div>
                    
                            <button mat-raised-button type="submit" (click)="postUsuarios()" class="btn btn-success pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  