<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Clientes com maior consumo</h4>
        <p class="card-category">Clientes com maior consumo com base nas últimas compras. </p>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
                <th>Código</th>
                <th>Nome</th>
                <th>Razão Social</th>
                <th>Total Gasto</th>
            </thead>
            <tbody>
              <tr *ngFor="let com of comprasResponse?.listaCompras | slice:0:5">
                <td>{{ com.codigo }}</td>
                <td>{{ com.nome }}</td>
                <td>{{ com.razaoSocial }}</td>
                <td>{{ com.total | currency:"BRL" }}</td>
             </tr>

            </tbody>
        </table>
    </div>
</div>

