<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Cadastro de Despesas</h4>
                        <p class="card-category">Adicione uma nova despesa preenchendo os campos</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="filtrosGroup">
                            <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                      <input matInput formControlName="descricao" placeholder="Descrição da Despesa:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="valor" placeholder="Valor:" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                    
                            <button mat-raised-button type="submit" (click)="postDespesa()" class="btn btn-success pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  