<div class="main-content">
    <div class="container-fluid">

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                  <h4 class="card-title">Atualização de Dados</h4>
                  <p class="card-category">Mantenhas as informações da sua empresa atualizado</p>
              </div>
              <div class="card-body">
                  <form [formGroup]="FormularioAtualizarGroup">
                      <div class="row">
                          <div class="col-md-5">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="nome" placeholder="Nome:" required>

                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="documento" placeholder="CPF/CNPJ:">
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="telefone" placeholder="Telefone:" type="text">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput formControlName="email" placeholder="E-mail:" type="email">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput formControlName="razaoSocial" placeholder="Razão Social:" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="cep" (keyDown.Tab)="buscarPorCep($event.target.value)" placeholder="Cep:" type="text">
                              </mat-form-field>
                            </div>
                          <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput formControlName="rua" placeholder="Rua:" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="numero" placeholder="Número:" type="text">
                              </mat-form-field>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput formControlName="bairro" placeholder="Bairro:" type="text">
                              </mat-form-field>
                            </div>

                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput formControlName="cidade" placeholder="Cidade:" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput formControlName="estado" placeholder="Estado:" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput formControlName="pais" placeholder="Pais:" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <button type="button" (click)="atualizarEmpresa()" class="btn btn-success pull-right">Atualizar</button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
        </div>
        <!--<div class="col-md-4">
          <div class="card card-profile">
              
              <div class="card-avatar">
                <input class="abee-inputNone" type="file" name="image" (change)="fileProgress($event)" />
                  <img class="img" [src]="previewUrl" />
                  <button class="abee-btnUpload" (click)="uploadImage()">Alterar imagem</button>
              </div>
              <div class="card-body">
                  <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="card-description">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="javascript:void(0)" class="btn btn-round btn-success">Follow</a>
              </div>
          </div>

        </div>-->
    </div>
</div>

