<div class="main-content">
  <div class="container-fluid">
      <div class="row" >
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Produtos em Estoque</p>
                      <h3 class="card-title"> {{ dashboardResponse?.listaDados[0].totalProduto }} </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Atualizado recentemente
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Total vendido</p>
                      <h3 class="card-title">{{ dashboardResponse?.listaDados[0].totalValorVendido | currency:"BRL" }}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Atualizado recentemente
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">assignment</i>
                      </div>
                      <p class="card-category">Pedidos realizados</p>
                      <h3 class="card-title">{{ dashboardResponse?.listaDados[0].totalPedido }}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Atualizado recentemente
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">person</i>
                      </div>
                      <p class="card-category">Clientes</p>
                      <h3 class="card-title">{{ dashboardResponse?.listaDados[0].totalCliente }}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Atualizado recentemente
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <app-grafico></app-grafico>
        </div>
        <div class="col-md-6">
            <app-grafico-despesa></app-grafico-despesa>
        </div>
      </div>
      
      <div class="row">
          
          <div class="col-lg-6 col-md-12">
            <app-compras></app-compras>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Dicas:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">shopping_cart</i> Produtos
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">person</i> Clientes
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                        <i class="material-icons">store</i> Pedidos
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        
                                        <td>Procure ultilizar todos os campos no preenchimento do cadastro de novos produtos.</td>
                                        
                                    </tr>
                                    <tr>
                                  
                                        <td>As informações de produtos são utilizadas na inclusão de novos pedidos e na tela de caixa. Isso facilita no seu gerenciamento.</td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td>O código de barras é importante para a sua agilidade na hora de realizar uma venda. Mantenha sempre atualizado.
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td>Mantenha os dados de produtos sempre atualizados com nossas ferramentas de inclusão e exclusão de registros.</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="messages">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        
                                        <td>Procure incluir todos os dados disponiveis no cadastro de um novo cliente. As informações de clientes são importantes para manter sua base de clientes fiéis.
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td>Mantenha os dados de clientes sempre atualizados ultilizando nossas ferramentas de atualização e exclusão de registros.</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="settings">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        
                                        <td>Procure preencher todos os campos na hora de incluir um novo pedido.</td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        
                                        <td>Não é possivel editar um pedido uma vez que ele já foi incluido.</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
