.abee-caixa{

    &__itens{
        @media screen and (max-width: 720px){
            order: 2;
        }
    }

    &__box{
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 720px){
            flex-direction: column;
        }

        &__section{
            width: 100%;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
    }

    &__row{

        &--second{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2em;
            margin-bottom: 2em;

            @media screen and (max-width: 720px){
                flex-direction: column;
            }
        }

        &--money{
            justify-content: flex-start;
            display: flex;
            flex-direction: row;
            display: none;
            margin-top: 2em;

            @media screen and (max-width: 720px){
                flex-direction: column;
            }
        }
    }
    
    // &__subline{
    //     display: flex;

    //     &:last-child{
    //         margin-top: 20px;
    //         justify-content: flex-end;
    //         margin-bottom: 20px;
    //     }
    // }

    &__nota{
        height: 90%;
        border: solid 1px #e8e8e8;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 720px){
            order: 1;
            height: 250px;
        }
    }

    &__input{
        border: solid 1px #e8e8e8;
        height: 42px;
        width: 400px;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        padding: 12px 20px 12px;
        color: #666666;
        font-size: 16px;

        @media (min-width: 720px) and (max-width: 960px){
            width: 90%;
        }

        @media screen and (max-width: 720px){
            width: 100%;
        }

        &--result{
            width: 180px;
            margin-right: 20px;

            @media screen and (max-width: 720px){
                width: 100%;
            }
        }

        &--money{
            width: 260px;
            margin-right: 3em;

            @media screen and (max-width: 720px){
                width: 100%;
            }
        }
    }

    &__select{
        width: 230px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        border: solid 1px #e8e8e8;
        height: 42px;
        border-radius: 5px;
        margin-right: 20px;
        padding-left: 1em;
        color: #666666;
        font-size: 16px;

        @media screen and (max-width: 720px){
            width: 100%;
        }
    }

    &__buttons{
        margin-top: 1em;

        @media screen and (max-width: 720px){
            width: 100%;
        }

        .btn{
            @media screen and (max-width: 720px){
                margin: auto;
            }
        }
    }
}

// Login
body{
	background: #fff;
}

.abee-box-login{
	margin: 50px auto;
	padding-top: 20px;
	background-color: #fff;
	border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    height: 330px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.abee-login__input{
   	border: solid 1px #e8e8e8;
    height: 42px;
    width: 300px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 20px 12px;
    color: #666666;
    font-size: 16px;
}

::-webkit-input-placeholder{ 
	color: #AAAAAA; 
}

input:-moz-placeholder {
	color: #e8e8e8; 
}


.abee-login__button{
	border: solid 1px #4caf50;
	height: 42px;
    width: 300px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    padding: 12px 20px 12px;
    font-size: 16px;
    /*border-color: #4caf50;*/
    margin: 15px auto;
}

.abee-login__links{
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.abee-login__links a{
    text-decoration: none;
    color: #26c6da;
}

.abee-btnUpload{
    display: none;
    position: absolute;
    top: 0;
    left: 106px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #666666;
}

.abee-inputNone{
    display: none;
}

.card-profile{
    .card-avatar{ 

        &:hover{
            .abee-btnUpload{
                display: block;
            }
            opacity: 0.7;
        }

        img{
            width: 130px;
            height: 130px;
            background-color: #666666;
        }
    } 
}       
