<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Cadastro de Produto</h4>
                        <p class="card-category">Adicione um novo produto preenchendo os campos</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="filtrosGroup">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput formControlName="nome" placeholder="Nome:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="descricao" placeholder="Descrição do Produto:">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="cdBarras" placeholder="Código de Barras:" type="text">
                                  </mat-form-field>
                                </div>

                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="quantidade" placeholder="Quantidade:" type="number">
                                  </mat-form-field>
                                </div>
                              <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="valor" placeholder="Valor:" type="number">
                                  </mat-form-field>
                                </div>
                            </div>
                    
                            <button mat-raised-button type="submit" (click)="postProdutos()" class="btn btn-success pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  