<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Pedido de Venda</h4>
                        <p class="card-category">Gerar um novo Pedido de Venda</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="filtrosGroup">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input type="text"
                                           placeholder="Cliente"
                                           aria-label="Number"
                                           matInput
                                           formControlName="cdCliente"
                                           [matAutocomplete]="idAutoCliente">
                                    <mat-autocomplete autoActiveFirstOption #idAutoCliente="matAutocomplete">
                                      <mat-option *ngFor="let option of opcoesClienteFiltrado" [value]="option.cdCliente" style="LINE-HEIGHT: 17px;">
                                        {{option.cdCliente}} - {{option.nome}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>  
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <mat-label>Forma de Pagamento</mat-label>
                                    <mat-select formControlName="formaPagamento">
                                      <mat-option value="Dinheiro">Dinheiro</mat-option>
                                      <mat-option value="Depósito">Depósito</mat-option>
                                      <mat-option value="Cartão">Cartão Débito</mat-option>
                                      <mat-option value="Crédito">Crédito</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input type="text"
                                           placeholder="Produto  "
                                           aria-label="Number"
                                           matInput
                                           formControlName="listaProdutoControl"
                                           [matAutocomplete]="idAutoProduto">
                                    <mat-autocomplete autoActiveFirstOption #idAutoProduto="matAutocomplete" >
                                      <mat-option *ngFor="let opcProduto of opcoesProdutoFiltrado" [value]="opcProduto.cdProduto" style="LINE-HEIGHT: 17px;">
                                        {{opcProduto.cdProduto}} - {{opcProduto.nome}}
                                        <br><span style="font-size: 12px;">Código de Barras: {{opcProduto.cdBarras}}</span>
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput  formControlName="quantidade"  placeholder="Quantidade:" type="number">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Valor Unitário:" [value]="produtoSelecionado.valor"  type="number" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Valor Total:" [value]=" this.produtoSelecionado.valor * this.filtrosGroup.get('quantidade').value | number:'1.2-2'"  type="text" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-1">
                                  <button routerLinkActive="active" (click)="addProdutos(this.produtoSelecionado)" class="btn btn-success btn-sm pull-right botao_add" routerLink="/criar-pedidos"> 
                                    <i class="material-icons" style="font-size:23px">add_shopping_cart</i>&nbsp; Add 
                                  </button>
                                  
                                </div>
                                
                            </div>
                            <div class="row">
                              <div class="card">
                                      
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>
                                                    Cód
                                                </th>
                                                <th>
                                                    Nome
                                                </th>
                                                <th>
                                                    Valor
                                                </th>
                                                <th>
                                                    Qtd
                                                </th>
                                                <th>
                                                  Total
                                                </th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let pro of produtosPedidoSelecionados">
                                                    <td>
                                                      {{pro.cdProduto}}
                                                    </td>  
                                                    <td>
                                                        {{pro.nome}}
                                                    </td>
                                                    <td>
                                                        {{pro.valor}}
                                                    </td>
                                                    <td>
                                                        {{pro.quantidade}}
                                                    </td>
                                                    <td>
                                                      {{pro.valor * pro.quantidade}}
                                                    </td>
                                                    
                                                    <td>
                                                        <button mat-raised-button type="button" (click)="removeProduto(pro)"  matTooltip="Remove"  [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                  
                                    
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <label>Observação</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput formControlName="observacao" placeholder="Nesse espaço você pode escreve observações e lembretes sobre a venda."></textarea>
                                 </mat-form-field>

                              </div>
                            </div>
                            
                            <button mat-raised-button type="submit" (click)="cadastrarPedido()" class="btn btn-success pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
    </div>
  </div>
  